// Based on https://vuetifyjs.com/style/theme
@import '../../node_modules/vuetify/src/stylus/settings/_colors';

$theme := {
	primary: $teal.darken-2
	accent: $teal.accent-4
	secondary: $grey.darken-3
	info: $blue.lighten-1
	warning: $amber.darken-2
	error: $red.accent-4
	success: $green.lighten-2
}

@import '../../node_modules/vuetify/src/stylus/main';

// import this main stylus file in main.js or App.vue
